<div class="@Classes" id='@($"cell{Row}{Column}")' tabindex='@($"{Row}{Column}")' onfocus="select('@($"cell{Row}{Column}highlight")')" onfocusout="deselect('@($"cell{Row}{Column}highlight")')">
    <span class="cellvalue" style="background-color: @(Value == null ? "transparent" : "inherit")">
        @(Value == null ? "" : Value)
    </span>
    <span class="cellpencil">
        <span class="cellpencildata">
            @PencilMarks
        </span>
    </span>
    <span id=@($"cell{Row}{Column}highlight") class="cellhighlight" hidden>
    </span>
</div>

@code {
    [Parameter]
    public int Row { get; set; }
    [Parameter]
    public int Column { get; set; }
    [Parameter]
    public int? Value { get; set; }
    [Parameter]
    public string GridType { get; set; }
    [Parameter]
    public Random Rand { get; set; }

    private string Classes { get; set; } = "";
    private string PencilMarks { get; set; } = "";

    private string TempClasses { get; set; } = "";

    private bool Changeable { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Changeable = Value == null;

        SetupRandomPencilMarks();

        SetupClasses();
    }

    private void SetupRandomPencilMarks()
    {
        var randomNum = Rand.Next(1, 9);
        for (var i = 1; i < randomNum; i++)
        {
            PencilMarks += i;
        }
    }

    private void SetupClasses()
    {
        Classes = "cell";
        Classes += Value == null ? "" : " value";
        if (GridType == "Box")
        {
            Classes += Row % 3 == 0 ? " bordertop" : "";
            Classes += Row % 3 == 2 ? " borderbottom" : "";
            Classes += Column % 3 == 0 ? " borderleft" : "";
            Classes += Column % 3 == 2 ? " borderright" : "";
        }
    }
}